@using Etsy_DTO
@using Etsy_DTO.Products
@model Etsy_DTO.Products.ReturnAddUpdateProductDTO

<div class="container">
    <h1 class="my-4">@ViewBag.PrDetails</h1>

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="@Model.ProductImage" class="img-fluid rounded" alt="Product Image">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">
                        @ViewBag.PrID: <span class="card-text">@Model.ProductId</span>
                    </h5>
                    

                    <h5 class="card-title">
                        @ViewBag.PrEN:                    <span class="card-text">@Model.ProductNameEN</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.PrAR:                    <span class="card-text">@Model.ProductNameAR</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.Publisher:                    <span class="card-text">@Model.ProductPublisher</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.PrPrice:                    <span class="card-text">@Model.ProductPrice</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.PrRating:                    <span class="card-text">@Model.ProductRating</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.PrStock:                    <span class="card-text">@Model.ProductStock</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.PrDEN:                    <span class="card-text">@Model.ProductDescriptionEN</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.PrDAR:                    <span class="card-text">@Model.ProductDescriptionAR</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.CatID:                    <span class="card-text">@Model.CategoryID</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-primary">@ViewBag.EditPr</a> |

    <a class="btn btn-primary mt-3" asp-action="Index">@ViewBag.BtLPr</a>
</div>
