@model Etsy_DTO.Orders.ReturnAddUpdateOrderDTO

<div class="container">
    <h1 class="my-4">Order Details</h1>

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
              
                <div class="">
                    <h5 class="card-title">
                        Order ID: <span class="card-text">@Model.OrdersId</span>
                    </h5>


                    <h5 class="card-title">
                        Product Address:                    <span class="card-text">@Model.Address</span>
                    </h5>

                    <h5 class="card-title">
                        Product TotalPrice:                    <span class="card-text">@Model.TotalPrice</span>
                    </h5>
                    <h5 class="card-title">
                        Arrived On:                    <span class="card-text">@Model.ArrivedOn</span>
                    </h5>
                    <h5 class="card-title">
                        Status:                    <span class="card-text">@Model.Status</span>
                    </h5>

                    <h5 class="card-title">
                        Customer Id:                    <span class="card-text">@Model.CustomerId</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <a asp-action="Edit" asp-route-id="@Model.OrdersId" class="btn btn-primary">Edit</a> |

    <a class="btn btn-primary mt-3" asp-action="Index">Back to List</a>
</div>

