@model Etsy_DTO.Orders.ReturnAddUpdateOrderDTO

<div class="container">
    <h1 class="my-4">@ViewBag.OrDetails</h1>

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
              
                <div class="">
                    <h5 class="card-title">
                        @ViewBag.OrID: <span class="card-text">@Model.OrdersId</span>
                    </h5>


                    <h5 class="card-title">
                        @ViewBag.PAddress:                    <span class="card-text">@Model.Address</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.PTPrice:                    <span class="card-text">@Model.TotalPrice</span>
                    </h5>
                    <h5 class="card-title">
                        @ViewBag.ArrivedOn:                    <span class="card-text">@Model.ArrivedOn</span>
                    </h5>
                    <h5 class="card-title">
                        @ViewBag.Stattus:                    <span class="card-text">@Model.Status</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.CId:                    <span class="card-text">@Model.CustomerId</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <a asp-action="Edit" asp-route-id="@Model.OrdersId" class="btn btn-primary">@ViewBag.DEdit</a> |

    <a class="btn btn-primary mt-3" asp-action="Index">@ViewBag.BtlOD</a>
</div>

