@model Etsy_DTO.Orders.ReturnAddUpdateOrderDTO
@using Etsy_DTO.Orders;

<h1>@ViewBag.EditOr</h1>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<form asp-action="Edit">
    <input type="hidden" asp-for="OrdersId" />
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" style="color:red"></span>
    </div>
    <div>
        <label asp-for="TotalPrice"></label>
        <input asp-for="TotalPrice" class="form-control" />
        <span asp-validation-for="TotalPrice" style="color:red"></span>
    </div>
    <div>
        <label asp-for="ArrivedOn"></label>
        <input asp-for="ArrivedOn" class="form-control" />
        <span asp-validation-for="ArrivedOn" style="color:red"></span>
    </div>

    <div>
        <label asp-for="CustomerId"></label>
        <input asp-for="CustomerId" class="form-control" />
        <span asp-validation-for="CustomerId" style="color:red"></span>
    </div>

    <div class="form-group mr-3">
        <label asp-for="Status">Status</label>
        <select class="form-control" asp-for="Status" id="Status">
            <option value="Placed">@ViewBag.Placed</option>
            <option value="Confirm">@ViewBag.Confirm</option>
            <option value="Shipped">@ViewBag.Shipped</option>
            <option value="Delivered">@ViewBag.Delivered</option>
            <option value="Canceled">@ViewBag.Canceled</option>
            <option value="Return">@ViewBag.Return</option>
        </select>
        <span asp-validation-for="Status" style="color:red"></span>
    </div>

    <button class="btn btn-primary mt-3" type="submit">@ViewBag.UpdateOr</button>
</form>
<a asp-action="Index" class="btn btn-info mt-3">@ViewBag.BtLOr</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
