

@model Etsy_DTO.Category.ReturnAddUpdateCategoryDTO

<div class="container">
    <h1 class="my-4">@ViewBag.CDetails</h1>

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="@Model.CategoryImage" class="img-fluid rounded" alt="CategoryImage">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">
                        @ViewBag.CID: <span class="card-text">@Model.Id</span>
                    </h5>
                    

                    <h5 class="card-title">
                        @ViewBag.CPNEN:                    <span class="card-text">@Model.NameEN</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.CPNAR:                    <span class="card-text">@Model.NameAR</span>
                    </h5>

                    <h5 class="card-title">
                        @ViewBag.BCID:                    <span class="card-text">@Model.BaseCategoryId</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@ViewBag.DEdit</a> |

    <a class="btn btn-primary mt-3" asp-action="Index">@ViewBag.DBtL</a>
</div>

